.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #9e7b8a;
    border: 1px solid #4d303c;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #9e7b8a;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    color: white;
}

.BuildControl .Less {
    background-color: #a11550;
    color: white;
    padding: 10px 20px;
}

.BuildControl .More {
    background-color: #67bd12;
    color: white;
    padding: 10px 20px;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    background-color: #c41b63;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #78de13;
    color: white;
}
